body{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:23px;
	background:#f5f5f5 url(../images/bg_small.gif) repeat-x left top;
	
}
body.big{background:#f5f5f5 url(../images/bg_big.gif) repeat-x left top} 
#global{position:relative;background:url(../images/bg_global-small.jpg) no-repeat 10px top;min-height:600px }
body.big #global{background:url(../images/bg_global-big.jpg) no-repeat 10px top;position:relative;}
span.shadow{display:block;right:-80px;z-index:2;position:absolute;width:708px;height:10px; background:url(../images/shadow.png) no-repeat left top}
span.sh-t{top:125px;}
span.sh-b{top:285px;background-position:left bottom}
body.big span.sh-b{top:435px;background-position:left bottom}
h1{display:none}


/* class */
#debug{height:150%;width:960px;position:absolute;z-index:100; background:url(../images/debug.png) repeat-y center top;top:0;left:0} 
a{color:#4b667b;text-decoration:none}
a:hover, a.blue:hover{text-decoration:underline}
.block{display:block}
.orange{color:#A40000}
.blue, .title{color:#3f505a}
.title{font-weight:bold}
.font12{font-size:12px}
.font14{font-size:14px}
.font18{font-size:18px;text-shadow:1px 1px 0 white}
.font40{font-size:40px}
.floatLeft{float:left}
.floatRight{float:right}
.left{text-align:left}
.right{text-align:right}
.padBot10{padding-bottom:10px}
.padBot30{padding-bottom:30px}
.margBot10{margin-bottom:10px}
.margTop10{margin-top:10px}
.margTop30{margin-top:30px}
.img{border:3px solid #d5d5d5}
img.floatLeft{margin:8px 8px 0 0}
img.floatRight{margin:8px 0 0 8px}
.justify{text-align:justify}
.relative{position:relative}
.upper{text-transform:uppercase}
.dashed{border-bottom:1px dashed #3f505a;padding-bottom:20px}
.greentic{background:url(../images/greentic.gif) no-repeat left center;padding:0 0 0 21px;display:inline-block;}
ul.style{list-style:disc;list-style-position:inside;padding:10px;color:#3f505a}
.bold{font-weight:bold}
.motcles{position:absolute;color:#E1E6FA;padding-left:150px;font-size:12px;}
.fluxrss{position:absolute;padding-left:825px;z-index:999;border:none;}
.fluxrss a:hover{text-decoration:none}
/* header */
#header{height:135px;position:relative;z-index:0}

#lang{position:absolute;top:0;right:10px}
#lang a{display:inline-block; background:url(../images/flags.gif) no-repeat left top;height:14px;line-height:14px;text-indent:18px;color:white;font-size:11px;margin:5px}
#lang a#fr.inactif{background-position:left -14px}
#lang a#en{background-position:left -28px}
#lang a#en.inactif{background-position:left -42px;color:#999}


/* menu */
#menu{list-style:none;float:right;margin-top:80px;position:relative;z-index:150}
#menu li{float:left;margin-right:5px;position:relative;}/*z-index:5*/
#menu li a{width:75px;height:32px;text-align:center;font-weight:bold;font-size:11px;line-height:35px;color:#333; display:block; background:url(../images/menu_bg2.png) no-repeat left top}
#menu li a.actif, #menu li a:hover{color:white;background-position:left bottom;text-decoration:none}
#menu{margin-top: -178px;}
#menu{margin-right: 250px;}

#menu1{list-style:none;float:right;margin-top:80px;position:relative;z-index:150}
#menu1 li{float:left;margin-right:5px;position:relative;}/*z-index:5*/
#menu1 li a{width:75px;height:32px;text-align:center;font-weight:bold;font-size:11px;line-height:35px;color:#333; display:block; background:url(../images/menu_bg2.png) no-repeat left top}
#menu1 li a.actif, #menu li a:hover{color:white;background-position:left bottom;text-decoration:none}
#menu1{margin-top: 102px;}
/*  Sous menu désactivé 
#menu li.sm div a:hover{color:black}
#menu li.sm div a:hover span{display:block; background:url(../images/puce2.gif) no-repeat left center;width:6px;height:30px;line-height:30px;float:right}
#menu li.sm:hover a#sm{position:relative;z-index:4;font-weight:bold;background:none;color:white}
#menu li.sm:hover div.sm{display:block;}
*/
/**
	Juizy Slideshow
	@author: Geoffrey Crofte
	@date: 2011-12-07
	@from: self work http://creativejuiz.fr/trytotry
	@license: CreativeCommons (BY)
	
	
	************* Changelog *************
	
	** v.1.1.1 - 2012-02-27
	- Figcaption element hidden when you take the control
	
	** v.1.1.0 - 2011-12-31
	- Caption of figure (figcaption element) display improvement
	
	** v.1.0.0 - 2011-12-07
	- First version
	
*/



#slideshow {
	position: relative;
	width: 440px;
	height: 220px;
	padding: 0px;
	border: 1px solid #ddd;
	margin: 0 auto 2em;
	background: #FFF;
	background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

/* avanced box-shadow : http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow */
#slideshow:before,
#slideshow:after {
	position: absolute;
	display:block;
	bottom:16px;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	
	z-index: -10;
}
#slideshow:before {
	left:0;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}
#slideshow .commands {
	position: absolute;
	top: 45%;
	padding: 5px 13px;
	border-bottom:0;
	font-family: 'Amaranth', Arial, Verdana, sans-serif;
	font-size: 1.3em;
	color: #aaa;
	text-decoration:none;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#ddd);
	background-image: -moz-linear-gradient(#fff,#ddd);
	background-image: -ms-linear-gradient(#fff,#ddd);
	background-image: -o-linear-gradient(#fff,#ddd);
	background-image: linear-gradient(#fff,#ddd);
	text-shadow: 0 0 1px #aaa;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
#slideshow .commands:after {
	position: absolute;
	bottom: 65px; left:-18px;
	content: attr(title);
	width: 50px;
	padding: 12px;
	background: #fff;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	text-align:center;
	text-shadow: 0 0 0;
	opacity: 0;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	
	-webkit-transition: opacity 0.7s, bottom 0.7s;
	-moz-transition: opacity 0.7s, bottom 0.7s;
	transition: opacity 0.7s, bottom 0.7s;
}
#slideshow .commands:before {
	position: absolute;
	bottom: 55px; left: 13px;
	content: " ";
	width: 1px; height: 1px;
	border-top: 10px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	z-index:100;
	opacity: 0;
	
	-webkit-transition: opacity 0.7s, bottom 0.7s;
	-moz-transition: opacity 0.7s, bottom 0.7s;
	transition: opacity 0.7s, bottom 0.7s;
}
#slideshow .commands:hover:before {
	bottom: 35px;
	opacity: 1;
}
#slideshow .commands:hover:after {
	bottom: 45px;
	opacity: 1;
}
#slideshow .commands:focus { 
	outline: 0;
	-webkit-transform: translate(1px, 2px);
	-moz-transform: translate(1px, 2px);
	-ms-transform: translate(1px, 2px);
	-o-transform: translate(1px, 2px);
	transform: translate(1px, 2px);
}
#slideshow .commands:active {
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	-ms-transform: translate(0, 1px);
	-o-transform: translate(0, 1px);
	transform: translate(0, 1px);
}
#slideshow .prev {
	left: -48px;
}
#slideshow .next {
	right: -48px;
}
#slideshow .prev,
#slideshow .next {
	display:none;
}
#slideshow .prev,
#slideshow .next {
	display:none;
}
#slideshow .commands1 {
	display: block;
}

/* play/pause commands */
.play_commands {
	position: absolute;
	width: 22px; height: 22px;
	top: 25px; right: 25px;
	z-index: 10;
	text-indent: -9999px;
	border:0 none;
	opacity: 0;

	-webkit-transition: opacity 1s, right 1s;
	-moz-transition: opacity 1s, right 1s;
	transition: opacity 1s, right 1s;
}
.play { right: 55px; cursor: default; }

.pause:hover { border:0 none; }
.play_commands:focus { outline:0; }

#slideshow:hover .pause,
#sl_play:target ~ #slideshow:hover .pause,
.play_commands:focus {
	opacity: 1;
}
.sl_command:target ~ #slideshow:hover .pause,
#sl_pause:target ~ #slideshow:hover .pause {
	opacity: 0;
}
.pause:after,
.pause:before {
	position: absolute;
	display: block;
	content: " ";
	top:0;
	width:38%;
	height: 22px;
	background: #fff;
	background: rgba(255,255,255,0.5);
}
.pause:after {
	right:0;
}
.pause:before {
	left:0;
}
.play {
	width: 1px; 
	height: 1px; 
	border-top: 10px solid transparent; 
	border-left: 20px solid #fff; 
	border-left: 20px solid rgba(255,255,255,0.5); 
	border-bottom: 10px solid transparent;
	opacity: 0;
}
.play:hover,
.play:focus {
	border-bottom: 10px solid transparent;
}

#slideshow .container {
	position:relative;
	width: 440px;
	height: 220px;
	overflow: hidden;
}
/* timeline base */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	background: #999;
	width: 100%;
	height: 1px;
}

@-webkit-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@-moz-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 100%;
	height: 220px;
	
	-webkit-animation: slider 32s infinite;
	-moz-animation: slider 32s infinite;
	animation: slider 32s infinite;
}
.sl_i:target ~ #slideshow .slider {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
}
.sl_command:target ~ #slideshow .slider {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
#slideshow .c_slider {
	position: absolute;
	left:0; top:0;
	width: 440px;
	height: 220px;
	background: url(images/ilot 440x220.jpg) 0 0 no-repeat, url(images/ilot1 440x220.jpg) 640px 0 no-repeat, url(images/ilot2 440x220.jpg) 1280px 0 no-repeat, url(images/ilot3 440x220.jpg) 1920px 0 no-repeat;
}
.sl_i:target ~ #slideshow .c_slider {
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

#slideshow figure {
	position:relative;
	padding:0; margin:0;
}

@-webkit-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@-moz-keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
@keyframes figurer {
	0%, 25%, 50%, 75%, 100%						{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0) inset; box-shadow: 0 0 65px rgba(0,0,0, 0) inset;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset; }
}
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	-webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	-moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	
	-webkit-animation: figurer 32s infinite;
	-moz-animation: figurer 32s infinite;
	animation: figurer 32s infinite;
}

@-webkit-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@-moz-keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

#slideshow figcaption {
	position:absolute;
	padding: 20px 10px; margin:0;
	left:0; right:0; bottom: 5px;
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #000;
	background: rgba(255,255,255,0.7);
	border-top: 1px solid rgb(225,225,225);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
	
	-webkit-animation: figcaptionner 32s infinite;
	-moz-animation: figcaptionner 32s infinite;
	animation: figcaptionner 32s infinite;
}

@-webkit-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 440px;	}
}
@-moz-keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 440px;	}
}
@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 430px;	}
}

#timeline {
	position: absolute;
	background: #A40000;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: #A40000;
	background: #A40000;
	width: 0;
	
	-webkit-animation: timeliner 32s infinite;
	-moz-animation: timeliner 32s infinite;
	animation: timeliner 32s infinite;
}

/* dots styles */
.dots_commands  {
	position: relative;
	top: 15px;
	padding:0; margin:0;
	text-align:center;
	margin-bottom: 15px;
}
.dots_commands li {
	display:inline;
	padding:0; margin:0;
	list-style:none;
	margin-bottom: 15px;
}
.dots_commands a {
	position: relative;
	display:inline-block;
	height:8px; width: 8px;
	margin: 0 5px;
	text-indent: -9999px;
	background: #fff;
	border-bottom:0;
	margin-bottom: 15px;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	
	z-index:25;
}
.dots_commands li + li a {
	z-index:10;
	margin-bottom: 25px;
}
@-moz-keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
@-webkit-keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
@keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}
	
	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}
	
	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}
	
	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}
	
	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 0;	}
}
.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
	position: absolute;
	top: 0; left: 0;
	content: " ";
	width: 8px; height: 8px;
	background: #bd9b83;
	z-index:20;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
	margin-bottom: 15px;
}
.dots_commands li:first-child a:after {
	-webkit-animation: dotser 32s infinite; /* webkit can't animate pseudo-element =_= :L: */
	-moz-animation: dotser 32s infinite; /* thanks moz ! :D */
	animation: dotser 32s infinite;
}
.dots_commands li:first-child a:before {
	display:none;
}




/* need a stop ! */

/* actions when target ! */
.sl_command { display: none; }

.sl_command:target ~ #slideshow .slider,
.sl_command:target ~ #slideshow figure:after,
.sl_command:target ~ #slideshow figcaption,
.sl_command:target ~ #slideshow #timeline,
.sl_command:target ~ #slideshow .dots_commands li:first-child a:after {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}

#sl_play:target ~ #slideshow .slider,
#sl_play:target ~ #slideshow figure:after,
#sl_play:target ~ #slideshow figcaption,
#sl_play:target ~ #slideshow #timeline,
#sl_play:target ~ #slideshow .dots_commands li:first-child a:after {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-play-state: running;
}

.sl_command:target ~ #slideshow .pause 	{ opacity:0; }
.sl_command:target ~ #slideshow .play 	{ opacity:1; right: 25px; cursor: pointer; }
#sl_play:target ~ #slideshow .pause 	{ opacity:0; }
#sl_play:target ~ #slideshow .play 		{ opacity:0; right: 55px; cursor: default;}

.sl_i:target ~ #slideshow .slider									{ visibility: hidden }
.sl_i:target ~ #slideshow .slider figcaption						{ visibility: hidden }
.sl_i:target ~ #slideshow .dots_commands li:first-child a:after		{ display:none; }
.sl_i:target ~ #slideshow .dots_commands li:first-child a:before	{ display:block; }}

#sl_i1:target ~ #slideshow .commands								{ display: none; }
#sl_i1:target ~ #slideshow .commands1								{ display: block; }
#sl_i1:target ~ #slideshow .c_slider								{ background-position: 0 0, 640px 0, 1280px 0, 1920px 0; }
#sl_i1:target ~ #slideshow .dots_commands li:first-child a:before	{ left:0; }

#sl_i2:target ~ #slideshow .commands								{ display: none; }
#sl_i2:target ~ #slideshow .commands2								{ display: block; }
#sl_i2:target ~ #slideshow .c_slider								{ background-position: -640px 0, 0 0, 640px 0, 1280px 0; }
#sl_i2:target ~ #slideshow .dots_commands li:first-child a:before	{ left:18px; }

#sl_i3:target ~ #slideshow .commands								{ display: none; }
#sl_i3:target ~ #slideshow .commands3								{ display: block; }
#sl_i3:target ~ #slideshow .c_slider								{ background-position: -1280px 0, -640px 0, 0 0, 640px 0; }
#sl_i3:target ~ #slideshow .dots_commands li:first-child a:before	{ left:36px; }

#sl_i4:target ~ #slideshow .commands								{ display: none; }
#sl_i4:target ~ #slideshow .commands4								{ display: block; }
#sl_i4:target ~ #slideshow .c_slider								{ background-position: -1920px 0, -1280px 0, -640px 0, 0 0; }
#sl_i4:target ~ #slideshow .dots_commands li:first-child a:before	{ left:54px; }





/* EXPLANATIONS */


#main .download {
	text-align: center;
	margin: 3em 0 1em;
	line-height: 1.35em;
}
#main .download a {
	position: relative;
	display:inline-block;
	padding: 8px 22px 14px;
	border: 0;
	color: #fff;
	background:#8a796d;
	text-shadow: -1px -1px 0 #60544c;
	font-weight:bold;
	overflow: hidden;
	
	-moz-box-shadow: 0 6px 0 #403c3a;
	box-shadow: 0 6px 0 rgba(0,0,0,0.7), 0 7px 6px -5px rgba(255,255,255,0.40) inset;
	border-radius: 12px;
	
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	transition: color .5s;
}
#main .download .arrow {
	position: relative;
	top: 5px;
	display: inline-block;
	padding: 1px 6px;
	margin-right: 10px;
	color: #cabfb6;
	font-size: 22px;
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
@-webkit-keyframes downloader {
	0% { top:5px; }
	45% { top:60px; }
	49% { opacity: 0; }
	50% { top: -60px; }
	51% { opacity: 1; }
	100% { top:5px; color: #cbbfb5; text-shadow: 1px 1px #777; background: rgba(255,255,255,0.1); border-color: rgba(255,255,255,0.5); }
	
}
@-moz-keyframes downloader {
	0% { top:5px; }
	45% { top:60px; }
	49% { opacity: 0; }
	50% { top: -60px; }
	51% { opacity: 1; }
	100% { top:5px; color: #cbbfb5; text-shadow: 1px 1px #777; background: rgba(255,255,255,0.1); border-color: rgba(255,255,255,0.5); }
	
}
@keyframes downloader {
	0% { top:5px; }
	45% { top:60px; }
	49% { opacity: 0; }
	50% { top: -60px; }
	51% { opacity: 1; }
	100% { top:5px; color: #cbbfb5; text-shadow: 1px 1px #777; background: rgba(255,255,255,0.1); border-color: rgba(255,255,255,0.5); }
	
}
#main .download a:hover,
#main .download a:focus {
	color: #cbbfb5;
}
#main .download a:hover .arrow,
#main .download a:focus .arrow {
	-webkit-animation: downloader .4s forwards;
	-moz-animation: downloader .4s forwards;
	animation: downloader .4s forwards;
}

#main .download .file {
	display: block;
	font-weight:normal;
	font-size: 0.6em;
	margin-left: 40px;
	line-height: 0.55em;
}
#main .download .already {
	font-size: 0.7em;
	line-height: 2.4em;
}
#main .download .nb {
	font-weight:bold;
}

#main {
	padding: 10px;
	color: #8a796d;
	font-family: Helvetica, Arial, sans-serif;
	text-align:left;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.1);
}
#main h2, #main h3 {
	margin-top: 45px;
	font-size: 2em;
	font-family: "Amaranth", cursive;
	text-align:left;
}
#main h3 { 
	margin-top: 25px;
	font-size: 1.4em;
}
#main p {
	line-height: 1.85em;
	margin-top: 2em;
}
#main  .col2,
#main .col2 {
	position: relative;
	margin-top: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 3em;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	column-count: 2;
	column-gap: 3em;
}
#main .col2 + .col2 {
	margin-top: 3em;
}
#main p + p:before {
	position: absolute;
	content: "*";
	width: 100%;
	text-align: center;
	top: -1.2em;
	font-size: 2em;
	color: #e1d7cf;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
footer {
	padding: 25px;
	margin-bottom: 38px;
	border: 1px solid rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
	color: #777;
	text-align: center;
}
footer p {
	margin:0.5em 0;
}
footer .sep {
	display: inline-block;
	margin: 0 1em;
}


/*
**	 Sharre, bouton design by Sacha Greif
**	 improvement by Geoffrey Crofte
*/



/*  bandeau  */
#bandeau div.grid_12{height:150px;margin-bottom:0px;}
.big #bandeau div.grid_6{height:250px;padding-top:30px;margin-bottom:80px;position:relative;z-index:0;padding-left: }
.baseline{color:white;font-size:30px;text-shadow:1px 1px 1px #000;line-height:150px}
.big .baseline{line-height:normal}
.big p.baseline{margin-top:20px;margin-left: 60px}
#rea_btn{display:block;text-indent:-9000px;background:url(../images/btn_rea.png) no-repeat left top;width:184px;height:54px;float:right;margin-top:45px}
#rea_btn:hover{background-position:left bottom}

/* ariane */
#ariane{line-height:60px; text-transform:uppercase;font-size:11px}
.details #ariane{line-height:40px;margin-bottom:20px}
#ariane span{color:#d5d5d5}
#ariane span.spacer{padding:0 5px;color:black}
#ariane a{color:black}

#onglet_logo{background:url(../images/onglet.png) no-repeat left top;width:76px;height:67px;position:absolute;margin:-12px 0 0 55px;z-index:5}




/* wrapper */
#wrapper {padding:30px 0}
.big #wrapper {padding:0 0 30px 0}
.bloc{padding:5px;border:1px solid #d5d5d5; background:white;position:relative}
a:hover img{border:3px solid #A40000}

#wrapper div.grid_4{width:280px;padding-bottom:30px;height:270px;margin-bottom:20px;}
#wrapper div.grid_4{margin-top:20px;}
#wrapper div.grid_3{width:200px;height:180px;margin-top:20px}
#wrapper div.grid_3 p.desc{line-height:16px;height:32px;position:relative;overflow:hidden}

#wrapper div.grid_6 {width:440px;margin-top:20px;height:100px}
#wrapper div.grid_6 img{margin-right:10px;}
#wrapper div.grid_6 p.desc{margin:5px 0;line-height:16px;height:48px; position:relative;overflow:hidden}


#wrapper div.qualibat{height:80px;padding:9px;line-height:20px}
#wrapper div.qualibat img{margin:0 10px 0 0}

#nuancier{width:960px;font-size:11px;font-weight:bold;color:white;border-collapse:separate; border-spacing:1px}


/* form select categ */
#form_cat fieldset{border:none;position:relative;margin:-2px 0 0 30px}
#form_cat legend{display:none}
#form_cat div{background:white;border:1px solid #d5d5d5;padding:3px;width:255px}
#form_cat select{border:none;font-size:13px;}

/* details */
.details #wrapper #bloc_details.grid_6 {margin:0 0 0 6px;height:auto;padding:0;width:460px;position:relative;}
.details #wrapper #bloc_details.grid_6 img{margin:0}
.details #wrapper #bloc_slideshow.grid_6{position:relative;margin-top:-50px;height:auto;width:auto}




#title_rea{padding-right:80px}
.details #vertical_mask.grid_4{width:310px;height:200px;background:#d5d5d5;position:relative;overflow:hidden;margin:0;padding:0}
#verticalShow{margin:3px;width:304px;height:194px;padding:0;position:relative;overflow:hidden}
#verticalShow div.page{width:304px;height:194px;}
#pages {position:absolute;height:20000em}

#small_pagination{margin-top:-24px;position:relative}


.suite{position:absolute;bottom:0;right:10px;line-height:35px;text-align:right; display:block;}
.suite2{position:absolute;bottom:0;left:210px;line-height:35px;text-align:left; display:block;}
.suite span{display:inline-block;background:url(../images/puce.gif) no-repeat left center;height:7px;width:12px}
.suite2 span{display:inline-block;background:url(../images/puce.gif) no-repeat left center;height:7px;width:12px}
.suite a{text-decoration:underline}
.suite a:hover{text-decoration:none}

/* pagination */
.pagination {margin-top:20px}
.pagination span, .pagination a{color:#3f505a;text-shadow:0 1px 0 #fff;line-height:24px;background:url(../images/pagination_bg.png) repeat-x left top;border:1px solid #d5d5d5;margin-right:3px;padding:0 9px;display:inline-block}
.pagination a:hover, .pagination span.current{ background-color:#A40000;color:white;text-shadow:0 1px 0 #774e12;text-decoration:none}
.pagination span.extend, .pagination span.pages{border:none;background:none;padding:5px 0;}
.pagination span.pages{float:right;}


/* tinyShow */
#tinyShow.grid_8{position:relative;overflow:hidden;width:600px;height:80px;text-align:justify;margin-bottom:20px}
.scrollable .mask{position:relative;width:560px;overflow:hidden;height:80px;margin-left:20px}
.scrollable .items {width:20000em;position:absolute;clear:both}
.items div {float:left;width:560px;}
.scrollable img {width:124px;height:54px;border:3px solid #d5d5d5}
#elm_tiny{float:left;margin:0 5px;width:124px;height:80px;text-align:left;}
.scrollable  a.next, .scrollable a.prev{display:block; background:url(../images/slider_btn.gif) no-repeat left top;width:14px;height:15px;overflow:hidden;position:absolute;top:33px;text-indent:-9000px;cursor:pointer;}
.scrollable a.prev{background-position:right top;left:10px}
.scrollable a.next{text-indent:9000px;right:10px}
.scrollable .active, .scrollable a:hover img{border-color:#A40000}



/*footer */
#main_footer {background:url(../images/bg_footer.gif) repeat-x left top;height:281px; margin-top: 20px } 
#footer{padding-top:20px;color:white;position:relative;height:261px; background:url(../images/footer_bg.jpg) no-repeat left top}
#copyright{position:absolute;line-height:30px;bottom:0}
#footer a{color:white}
.footer-link a{display:block;color:white; background:url(../images/footer_limits.png) repeat-x left bottom;width:180px}
#footer a.actif{color:#A40000;font-weight:bold;}
#footer a:hover{text-decoration:none;color:#A40000}
#footer-adresse{color:#fff;text-align:right;padding:40px 140px 0 0;width:240px;line-height:22px;margin-left: 175px}
.footer-link ul{margin-top: 40px;}


/* formulaire classic */
.adresse{line-height:normal;margin-bottom:30px}
.adresse strong.orange{font-size:14px;line-height:20px;}
span.phone{ background:url(../images/phone_picto.png) no-repeat left center;padding-left:21px;line-height:23px}

textarea{resize:none}
.form_classic filedset{border:none;position:relative;}
.form_classic legend{display:none}
.form_classic label {color:#000;display:block;cursor:pointer}

.form_classic label span{color:#A40000}
.form_classic p.grid_4{color:#000;margin-top:15px}
.form_classic p.infos{background:url(../images/infos_picto.png) no-repeat left top;padding:8px 0 0 51px;width:209px;font-size:11px;line-height:normal;margin-top:25px;height:40px;color:#3f505a}
.form_classic input.text, .form_classic textarea{border:1px solid #d5d5d5;height:30px;padding:0 5px;font-family:Verdana, Geneva, sans-serif;font-size:12px;line-height:30px; background-color:white}
.form_classic input.text{background:white url(../images/input_bg.gif) repeat-x left top;width:288px;}
.form_classic p.objet{width:608px;margin:15px 0}
.form_classic textarea{background:white url(../images/right_gradient-small.gif) repeat-x left top;min-height:120px;width:608px;display:block;}
.send_btn{background:url(../images/send_btn.jpg) no-repeat left top;height:34px;width:104px;border:none;margin-top:20px}
.send_btn:hover{background-position:left bottom;cursor:pointer}

div#map p{margin-left:10px}
div#map .bloc{height:auto;padding-bottom:10px}
div#map a.map{background:url(../images/zoom.jpg) no-repeat left center;display:block;line-height:30px;padding-left:26px}

/* retour de mail */
.envoi_ok{background:#FFFAE4 url(../images/valid.png) no-repeat left 10px;border:1px dashed #f78118;padding:10px;margin-bottom:20px}
.envoi_ok span{padding-left:55px;display:block}

.form_classic p.error, .form_classic input.error[type=text], .form_classic textarea.error,
#form_solutions p.error, #form_solutions div.error, #form_solutions input.error[type=text], #form_solutions textarea.error, #form_solutions .form_date input.error
{border-color: #f59813}

label.error, label.error2{
	color:#f59813;
	font-size:11px; 
	font-style:italic;
	line-height:24px;
	background:url(../images/alert.png) no-repeat left center;
	padding-left:21px;
	display:block;
	/*border:1px dashed #f59813;*/
	margin:5px 0;

}



/* overlay */

.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:1000;
	position:absolute;
	/* styling */
	background-color:#333;
	top:0;
	left:0;
	width:960px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}
/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.text-indent{ text-indent:-9997px}