
/****************************************/
/***************STRUCTURE****************/
/****************************************/

body{
	overflow-x: hidden;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:23px;
	background:#f5f5f5 url(../images/bg_small.gif) repeat-x left top;	
}

body#big{
	background:#f5f5f5 url(../images/bg_big.gif) repeat-x left top;
} 

#blocPage{
	position:relative;
	background:url(../images/bg_global-small.jpg) no-repeat 10px top;
	min-height:600px;
}

body#big #blocPage{
	background:url(../images/bg_global-big.jpg) no-repeat  top;
	position:relative;
	margin-top: -8px;
}

span.sh-t{
	top:125px;
}

span.sh-b{
	top:285px;
	background-position:left bottom;
}

body#big span.sh-b{
	top:435px;
	background-position:left bottom;
}

h1{
	display:none;
}

#logoEntreprise{
	position: absolute;
	width: 130px;
	float: top;
	top: 3px;
	left: 290px;
}

#clairalu_titre{
	position: absolute;
	width: 500px;
	float: top;
	top: 20px;
	left: 445px;
}


#Titre{
	position: absolute;
	float: left;
	top: 200px;
	left: 200px;
	color: white;
}

#Titre h1{
	display: block;
	margin-left: -20px;
	margin-top:-5px;
}




/****************************************/
/*****************MENU*******************/
/****************************************/

#menu{
	list-style:none;
	float:left;
	margin-top:376px;
	position:relative;
	left: 245px;
}

#menu li{
	float:left;
	margin-right:5px;
	position:relative;
}/*z-index:5*/

#menu li a{
	width:75px;
	height:32px;
	text-align:center;
	font-weight:bold;
	font-size:11px;
	line-height:35px;
	color:#333;
	display:block;
	background:url(../images/menu_bg2.png) no-repeat left top;
}

#menu li a.actif, #menu li a:hover{
	color:white;
	background-position:left bottom;
	text-decoration:none;
}

#menu li a:hover{
	color:white;
	background-position:left bottom;
	text-decoration:none;
}


/****************************************/
/*****************SLIDER*****************/
/****************************************/

#slideshow { 
    margin: 50px auto;
    float: right;
    right: 125px;
    top: 100px;
    position: relative;
    width: 450px;
    height: 200px;
    border: 0.5rem solid white;
    box-shadow : 0 0 20px rgba (0,0,0,0.4); 
    margin-right: 120px;
}

#slideshow > div { 
    position: absolute; 
}

#slideshow img{
	width: 450px;
	height: 200px;
}

/****************************************/
/******************CORP******************/
/****************************************/

#corpAccueil{
	display: block;
	position: relative;
	margin-top: -80px;
}

#headerAccuil{
	display: block;
	position: relative;
}

#blocA1
{
	padding:5px;border:1px solid #d5d5d5;
	background:white;
	display: inline-block;
	margin-left: 100px;
	width: 350px;
}
#blocA2
{
	padding:5px;border:1px solid #d5d5d5;
	background:white;
	display: inline-block;
	left: 485px;
	width: 350px;
	margin-left: 15px;
}
#blocA3
{
	padding:9px;border:1px solid #d5d5d5;
	background:white;
	display: inline-block;
	width: 350px;
	margin-top: -10px;
	max-height: 309px;
	margin-left: 15px;
}


/****************************************/
/**************PIED DE PAGE**************/
/****************************************/
footer{
	width: 110%;
	margin-left: -10px;
	position: relative;
}
#main_footer {
    background:url(../images/bg_footer.gif) repeat-x left bottom;
    height:281px; 
    margin-top: 25px;
} 

#footer{
    color:white;
    height:281px; 
    background:url(../images/footer_bg.jpg) no-repeat center bottom;
}

.footer-link a{
    color:white; 
    background:url(../images/footer_limits.png) repeat-x left bottom;
    width:180px;
}

#footer a.actif{
    color:#A40000;
    font-weight:bold;
}

#footer a:hover{
    text-decoration:none;
    color:#A40000;
}

#footer-adresse{
    color:#fff;
    text-align:right;
    padding:40px 40px 0 0;
    width:240px;
    line-height:22px;
    margin-left: 650px;
    margin-top: -135px;
}

.footer-link ul{
    margin-top: 40px;
    margin-left: 80px;
}

#copyright{
    bottom:0;
    margin-top: 70px;
    text-align: center;
}

#footer a{
    color:white
}




